.titles {
  width: 100%;
}

.titles .title {
  cursor: default;
  position: relative;
  text-align: center;
  z-index: 2;
}

.titles .title .wrapper {
  display: inline-block;
}

.titles .title .wrapper p {
  display: inline-block;
  color: #b7ab98;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 6vw;
  line-height: 7.5vw;
  margin: 0;
  position: relative;
  z-index: 2;
}

.titles .title .wrapper p:nth-of-type(2) {
  display: block;
  position: absolute;
  color: #1c1c1c;
  top: 0;
  z-index: 1;
}
