.main {
  height: 60vw;
  background-color: transparent;
  margin-top: 10vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 100%;
}

.container .titles .title.other .wrapper p {
  font-size: 50px;
}

.title.first .wrapper p {
  color: #ffab0b;
}

.title.other .wrapper p {
  color: white;
}

.container .titles .title .wrapper {
  margin-bottom: -60px;
}

.welcomeContents {
  margin-top: -40vh;
}

@media screen and (max-width: 768px) {
  .main {
    margin-top: 40vh;
    margin-bottom: 50vh;
  }
  .container .titles .title:first-child(1) {
    font-size: 50px;
    color: #ffab0b;
  }
  .titles {
    margin-top: 0;
  }
  .container .titles .title .wrapper {
    margin-bottom: 10px;
  }
  .container .titles .title .wrapper p {
    font-size: 60px;
    gap: 10;
  }

  .title.first {
    font-size: 40px;
  }

  .container .titles .title.other .wrapper p {
    font-size: 30px;
  }

  .welcomeContents {
    margin-top: 40vh;
  }
}

/* WHAT WE DO */
.welcomeContents {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 450px 10px; */
  /* background-image: url("../../assets/home/bg2.svg"); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

@supports (-webkit-overflow-scrolling: touch) {
  .welcomeContents {
    background-attachment: scroll;
  }
}

.welcomeContents::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.welcomeContents > * {
  position: relative;
  z-index: 2;
}
